body {
    width: 300px;
    height: 400px;
}

div {
    width: 300px;
    height: 175px;
    background-color: red;
}

head {
    width: 300px;
    height: 100px;
}

button {
    color: red;
}

/*title{
    text-align: center;
    font-size: 200%;
}*/

h1 {
    background-color: lightseagreen;
    text-align: center;
    font-size: 250%;
    font-family: Verdana;
    height: 50px;
}

hr.dashed {
    border-top: 3px dashed #bbb;
}

button {
    background-color: blue;
    width: 100px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid yellow;
    color: white;
    cursor: pointer;
    float: right;
}

h2 {
    font-size: 100%;
    font-family: Verdana;
    text-align: left;
}
